* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f1f3f6;
}

header {
  background: #131921;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

header input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.filters {
  padding: 15px;
  background: white;
  display: flex;
  gap: 15px;
}

.products {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #ff9900;
  border: none;
  cursor: pointer;
}
.auth {
  max-width: 350px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.auth input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.auth button {
  width: 100%;
  padding: 10px;
  background: #131921;
  color: white;
  border: none;
  cursor: pointer;
}
.cart {
  max-width: 800px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}.checkout {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.checkout input,
.checkout select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.checkout {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.checkout input,
.checkout select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.checkout {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.checkout input,
.checkout select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.admin {
  max-width: 400px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.admin input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
.hero1 {
  text-align: center;
  padding: 50px;
}

footer {
  padding: 50px;
  color: black;
  background: #f1f4f7;
  text-align: center
}

.Questions {
  margin-bottom: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer-items a {
  display: block;
  color: black;
  font-size: 14px;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-items a:hover {
  text-decoration: underline;
}

.button-eng {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  display: inline-block;
}

.text {
  margin-top: 20px;
  font-size: 14px;
}
@media (max-width: 768px) {

  header {
    flex-direction: column;
  }

  .hero span:nth-child(1),
  .hero span:nth-child(2) {
    font-size: 32px;
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-button {
    flex-direction: column;
  }

  .hero-button input {
    width: 100%;
  }

}

